---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import SectionOne from "@components/SectionOne.astro";
import SectionTwo from "@components/SectionTwo.astro";
import Fondo from "@components/fondo.astro";
import Fondo2 from "@components/fondo2.astro";
import SectionThree from "@components/SectionThree.astro";
import SectionFour from "@components/SectionFour.astro";
import Footers from "@components/footers.astro";
import Map from "@components/map.astro";
import Informacion from "@components/informacion.astro";
import Stats from "@components/stats.astro";
import Slider from "@components/slider.astro";
import Contactanos from "@components/contactanos.astro";
---

<Layout title="Telco Networks">
  <!-- Descripción de la empresa -->
  <p class="hidden">
    En Solaria Laguna nos especializamos en promover el uso de la energía solar
    a través de soluciones innovadoras que te ayudan a reducir costos y abrazar
    la sostenibilidad.
  </p>

  <!-- Descripción de los beneficios -->
  <p class="hidden">
    Descubre los beneficios de la energía solar, desde el ahorro en costos de
    electricidad hasta la contribución a un medio ambiente más limpio y
    sostenible.
  </p>

  <!-- Descripción de productos y servicios -->
  <p class="hidden">
    Explora nuestra variedad de productos y servicios diseñados para optimizar
    el consumo eléctrico en México, incluyendo instalación, mantenimiento y
    monitoreo de paneles solares.
  </p>

  <!-- Descripción de opciones de financiamiento -->
  <p class="hidden">
    Conoce nuestras opciones de financiamiento para paneles solares que te
    permiten invertir en energía limpia y recuperar tu inversión a través de
    ahorros en tu recibo de luz.
  </p>

  <p class="hidden">Solaria Laguna</p>
  <p class="hidden">Solaria Laguna</p>
  <p class="hidden">Solaria Laguna</p>
  <p class="hidden">Solaria Laguna</p>
  <p class="hidden">Solaria Laguna</p>
  
  <Fondo />
  <SectionThree />
  <SectionTwo />
  <Fondo2 />
  <SectionFour />
  <Stats />
  <Slider />
  <Contactanos />
  <SectionOne />
  <Map />
  <Footers />
  <Container />
</Layout>
