---
import imagen from '../assets/paneles_optimized_.jpg';
---
<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <p class="text-center text-orange text-5xl text-orange-400 tracking-wider">Beneficios de la Energía Solar</p>
    <br>  
    <p class="text-center text-xl">Aquí tienes algunas ventajas de la transición hacia la energía solar:</p>
    <br>
    <div class="flex flex-wrap">
      <!-- Secciones -->
  <div class="w-full md:w-1/2 p-4 text-justify">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:grid-cols-1">
      <!-- Sección 1 -->
      <div class="bg-white rounded p-4 mb-4">
        <h2 class="text-xl mb-2 text-orange-400">Ahorro en Costos de Electricidad</h2>
        <p>Muchos usuarios encuentran que cambiar a la energía
          solar les permite reducir significativamente sus facturas de electricidad.</p>
      </div>
      <!-- Sección 2 -->
      <div class="bg-white rounded p-4 mb-4">
        <h2 class="text-orange-400 mb-2 text-xl">Mayor Seguridad en la Red</h2>
        <p>La energía solar ofrece una mayor seguridad en la red
          eléctrica al reducir el riesgo de sobrecargas o incendios en centros de transformación.</p>
      </div>
      <!-- Sección 3 -->
      <div class="bg-white rounded p-4 mb-4">
        <h2 class="text-xl mb-2 text-orange-400">Mantenimiento Sencillo</h2>
        <p>Los sistemas solares requieren poco mantenimiento y los costos
          asociados son mínimos.</p>
      </div>
      <!-- Sección 4 -->
      <div class="bg-white rounded p-4 mb-4">
        <h2 class="text-xl mb-2 text-orange-400">Energía ecológica</h2>
        <p>La generación de energía solar es limpia y no produce emisiones de
          gases de efecto invernadero, contribuyendo así a la preservación del medio ambiente.</p>
      </div>
    </div>
  </div>
      <!-- Imagen -->
      <div class="w-full md:w-1/2 p-4 order-first sm:order-last">
        <img src={imagen.src} alt="Solar Panel" class="rounded transition duration-500 ease-in-out transform hover:scale-110 hover:saturate-150 shadow-2xl">
      </div>
    </div>
  </div>
</section>
