---
import jerusalem from '../assets/jerusalem.png'
import jefferson from '../assets/jf2.png'
import eliseo from '../assets/eliseo.png'
import fertiliza from '../assets/fertiliza.png'
--- 

<section id="features">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Ellos ya están reduciendo su factura de electricidad.
        </p>
      </div>
    </div>
    <div class="mx-auto max-w-7xl pt-12">
      <h2 class="sr-only">Clientes</h2>
      <div class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-4 sm:text-center sm:items-center">
        <div class="text-center center flex justify-center transition duration-500 ease-in-out transform hover:scale-110 hover:saturate-150">
          <img src={jerusalem.src} alt="Descripción de la imagen 1" class="rounded-xl w-32 h-32 object-cover">
        </div>
        <div class="text-center flex justify-center transition duration-500 ease-in-out transform hover:scale-110 hover:saturate-150">
          <img src={jefferson.src} alt="Descripción de la imagen 2" class="rounded-xl w-32 h-32 object-cover">
        </div>
        <div class="text-center flex justify-center transition duration-500 ease-in-out transform hover:scale-110 hover:saturate-150">
          <img src={eliseo.src} alt="Descripción de la imagen 3" class="rounded-xl w-32 h-32 object-cover">
        </div>
        <div class="text-center flex justify-center transition duration-500 ease-in-out transform hover:scale-110 hover:saturate-150">
          <img src={fertiliza.src} alt="Descripción de la imagen 4" class="rounded-xl w-32 h-32 object-cover">
        </div>
      </div>
    </div>
  </div>
</section>
