---
import fond from '../assets/fondo2.jpg';
import solaria from '../assets/logo.png';
import logohome from '../assets/solaria22.png';
---


<div id="section-three" style="position: relative; background-color: #15297c; background-attachment: fixed; background-size: cover; background-position: center; height: 100vh; margin: 0; padding: 20px; width:100%; height:fit-content;">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
    <div class="text-white hidden sm:block">
      <p style="margin: 0; color: white; display:inline-block; " class="flex flexk-wrap"> (871) 713-8642</p>
      <p style="margin: 0; color: white;"><i class="fa fa-envelope"></i> contacto@ensoenergia.com</p>
    </div>
    <div class="flex justify-center items-center" style="margin-left: auto; margin-right: auto;">
      <div>
        <img src={logohome.src} alt="Logo" style="width: 300px; height: 120px;">
      </div>
    </div>
    <div>
      <a href="#section-contactanos">
        <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full shadow-md" style="border: 10px;">Cotiza Ahora</button>
      </a>
      
    </div>
  </div>
  <br>
  <div style="text-align: center; margin-top: 50px; color: white;">
    <h2 style="color: yellow; text-align: center; font-size: 40px;"><strong>¿QUIENES SOMOS?</strong></h2> <br>
    <p style="font-size: 25px;">Promovemos la Energía Solar</p> <br>
    <br>
<p style="margin: 0 auto; max-width: 600px; font-size:20px" class="text-justify mx-auto max-w-600 text-base text-center text-4xl">
  Impulsamos la energía solar mediante la instalación de sistemas solares innovadores, ayudándote a reducir costos de electricidad y adoptar un estilo de vida sostenible. Ofrecemos asesoramiento personalizado para encontrar la mejor solución energética para tu hogar o negocio. Únete a nosotros en la transición hacia una energía más verde y accesible.
</p>
</div>
<br><br>
</div>



