---

import heroImage1 from "assets/ss3.jpg";

import heroImage4 from "assets/ss5.jpg"; // Asegúrate de tener más imágenes

import footer from "assets/ss2.jpg";

import redes from "assets/ss4.jpg";

---
<br>
<div class="flex flex-wrap">
    <div class="md:w-1/2">
      <!-- Carrusel -->
      <div class="carousel-container"> 
        <div class="carousel-slide">
          <img src={footer.src} alt="Redes Telco" />
          
        </div>
        <div class="carousel-slide">
          <img src={heroImage1.src} alt="Cableado Estructurado Telco" />
          
        </div>
        <div class="carousel-slide">
          <img src={redes.src} alt="Telecomunicaciones Telco" />
          
        </div>
        <div class="carousel-slide">
          <img src={heroImage4.src} alt="Sistemas de seguridad Telco" />
          
        </div>
        
      </div>
      
    </div>
    <br>
    <div class="md:w-1/2 text-center " >
        <!-- Texto a la derecha -->
        <p class="text-xl text-orange-400 lg:text-3xl " style="padding:5px">¿Cuál es el precio de un panel solar en México para mi casa?</p>
        <br>
        <p class="text-lg" style="padding:15px">
        Para un sistema residencial en México el precio de los paneles solares puede variar entre $8,000 y $10,000 pesos por panel; instalado y generando ahorros de entre 80% y 100% en casa.<br><br>
        México es un país con gran radiación solar. Por esta razón, la instalación de paneles solares en diferentes ciudades de México es una de las inversiones más redituables en casa. Para poder cotizarte, necesitamos saber 2 datos:<br><br>
        ¿Cuánto pagas de luz?<br>
        ¿Dónde instalarás los paneles?</p>
        <p class="text-2lg text-orange-400">Solicitar una cotizacion</p>
      </div>
  </div>

<div>
  
</div>

<style>
  .carousel-container {
    width: 80%; /* Cambia el porcentaje según lo que desees */
    margin: 0 auto; /* Centra el carrusel en la página */
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

  .carousel-slide {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 65vh;
    margin-left: 0;
    margin-right: 0;
    display: none;
    transition: 2s ease;

  }

  .carousel-slide.active {
    display: block; 
    
  }

  .carousel-slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: 2s ease;
  }

  .carousel-button-prev, .carousel-button-next {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); 
    transition: background-color 0.3s, transform 0.3s; 
  }

  .carousel-button-prev:hover, .carousel-button-next:hover {
    background-color: #2ca59c; /* Color de fondo al hacer hover */
    transform: translateY(-50%) scale(1.1); /* Escalado al hacer hover */
  }
  .carousel-button-prev {
  left: 10px; /* Ajusta la distancia del botón izquierdo al borde */
}

.carousel-button-next {
  right: 10px; /* Ajusta la distancia del botón derecho al borde */
}

@media (max-width: 520px) {
  .carousel-slide h1 {
    text-align: center; /* Centra el texto horizontalmente */
    transform: translateY(-50%); /* Ajusta la posición vertical del texto */
    margin-right: 200px;
    padding: 10px;
    position: absolute;
    display: block;
  }
}
</style>

<script>
  let currentSlide = 0;
  const slides = document.querySelectorAll('.carousel-slide');
  const totalSlides = slides.length;

  function showNextSlide() {
    if (slides[currentSlide]) {
      slides[currentSlide].classList.remove('active');
      currentSlide = (currentSlide + 1) % totalSlides;
      if (slides[currentSlide]) {
        slides[currentSlide].classList.add('active');
      }
    }
  }

  document.querySelectorAll('.carousel-button-next').forEach(button => {
    button.addEventListener('click', showNextSlide);
  });

  document.querySelectorAll('.carousel-button-prev').forEach(button => {
    button.addEventListener('click', () => {
      if (slides[currentSlide]) {
        slides[currentSlide].classList.remove('active');
        currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
        if (slides[currentSlide]) {
          slides[currentSlide].classList.add('active');
        }
      }
    });
  });

  // Initialize the first slide as active
  slides[currentSlide].classList.add('active');

  // Set interval to change slide every 3 seconds
  setInterval(showNextSlide, 3200);
</script>