<section class="py-14">
    <br>
<div class="max-w-screen-xl mx-auto px-4 text-gray-600 gap-x-12 justify-between md:px-8 lg:flex">
    <div class="max-w-2xl mx-auto text-center lg:text-left lg:mx-0">
        <h3 class="text-orange-400 text-3xl sm:text-4xl">
            Opciones de financiamiento
        </h3>
        <br>
        <p class="mt-3 max-w-2xl mx-auto lg:mx-0 text-xl text-justify">
            Invierte en paneles en vez de darle tu dinero a CFE. Tu inversión se va pagando por si sola.
            <br><br>
            Ofrecemos diferentes planes de financiamiento para facilitarte la transición a energía solar. No dudes en contactarnos para más detalles.
        </p>
    </div>
    <div class="mt-12 lg:mt-0">
        <ul class="flex flex-col items-start gap-x-12 justify-center divide-y sm:divide-y-0 sm:flex-row lg:grid lg:grid-cols-2">
            <li class="text-center w-full px-8 py-8 sm:w-auto lg:py-6">
                <h4 class="text-7xl text-black font-semibold">60</h4>
                <p class="mt-3 font-medium">Hasta 60 meses para pagar</p>
            </li>
            <li class="text-center w-full px-8 py-8 sm:w-auto lg:py-6">
                <h4 class="text-7xl text-black font-semibold">95%</h4>
                <p class="mt-3 font-medium">Ahorro en tu recibo</p>
            </li>
        </ul>
    </div>
</div>
</section>
