<section class="py-14">
    <br>
<div class="max-w-screen-xl mx-auto px-4 text-gray-600 gap-x-12 justify-between md:px-8 lg:flex">
    <div class="max-w-2xl mx-auto text-center lg:text-left lg:mx-0">
        <h3 class="text-orange-400 text-3xl sm:text-4xl">
            Opciones de financiamiento
        </h3>
        <br>
        <p class="mt-3 max-w-2xl mx-auto lg:mx-0 text-xl text-justify">
            Opta por la inversión en paneles solares en lugar de pagarle directamente a CFE.
            Nuestros planes de financiamiento te permiten que tu inversión se amortigüe por sí
            misma. Para obtener más información, no dudes en ponerte en contacto con
            nosotros.
        </p>
    </div>
    <div class="mt-12 lg:mt-0">
        <ul class="flex flex-col items-start gap-x-12 justify-center divide-y sm:divide-y-0 sm:flex-row lg:grid lg:grid-cols-2">
            <li class="text-center w-full px-8 py-8 sm:w-auto lg:py-6">
                <h4 class="text-7xl text-black font-semibold counter" data-count="25">0</h4>
                <p class="mt-3 font-medium">Años de garantía</p>
            </li>
            <li class="text-center w-full px-8 py-8 sm:w-auto lg:py-6">
                <h4 class="text-7xl text-black font-semibold counter" data-count="95%">0%</h4>
   
                <p class="mt-3 font-medium">De ahorro en tu recibo</p>
            </li>
        </ul>
    </div>
</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
            $('.counter').each(function() {
                var $this = $(this),
                    countTo = $this.attr('data-count');

                $({ countNum: $this.text()}).animate({
                    countNum: parseFloat(countTo)
                }, {
                    duration: 2500,
                    easing: 'linear',
                    step: function() {
                        if (countTo.includes('%')) {
                            $this.text(Math.floor(this.countNum) + '%');
                        } else {
                            $this.text(Math.floor(this.countNum));
                        }
                    },
                    complete: function() {
                        $this.text(this.countNum + (countTo.includes('%') ? '%' : ''));
                    }
                });
            });
            observer.unobserve(entry.target);
        }
    });
});


observer.observe(document.querySelector('.counter'));
</script>