---

import Navbar from "@components/navbar/navbar.astro";

import "@fontsource-variable/inter/index.css";


export interface Props {

  title: string;

}


import fond from "assets/sun-half.png";  
import faviconSvgSrc from 'assets/icono.svg';


import { getImage } from "astro:assets";

const appleTouchIcon = await getImage({
  src: fond,
  width: 180,
  height: 180,
  format: 'png'
})
const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })


const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();




const { title } = Astro.props;



const makeTitle = title

  ? title 

  : "Solaria";

---



<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={appleTouchIcon.src} type="image/png" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />

    <meta name="description" content="Solaria Laguna" />

    <meta name="keywords" content="paneles solares, energía solar, sistema fotovoltaico, energía renovable, instalación de paneles solares, beneficios de la energía solar, sostenibilidad, eficiencia energética, inversión en paneles solares, tecnología solar, impacto ambiental positivo">

    <meta name="author" content="Solaria Laguna" />

    <meta name="robots" content="index, follow" />

    <meta name="googlebot" content="index, follow" />

    <meta name="bingbot" content="index, follow" />

    <meta name="title" content="Solaria Laguna" />

    <meta property="og:title" content="Solaria Laguna" />

    <meta property="og:image" content={fond.src} />

    <meta property="og:url" content={canonicalURL} />

    <meta property="og:type" content="website" />

    <title>Solaria</title>

    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
      }
    </style>
  </head>

 

  <body>


    <slot />

  </body>

</html>
