---
import Navbar from "@components/navbar/navbar.astro";

import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

import fond from "assets/sun-half.png";
import faviconSvgSrc from "assets/icono.svg";

import { getImage } from "astro:assets";

const appleTouchIcon = await getImage({
  src: fond,
  width: 180,
  height: 180,
  format: "png",
});
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title ? title : "Solaria";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={appleTouchIcon.src} type="image/png" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />

    <meta
      name="description"
      content="En Solaria Laguna nos dedicamos a fomentar el uso de la energía solar con la implementación de sistemas innovadores, para disminuir tus gastos eléctricos."
    />

    <meta
      name="keywords"
      content="solaria , laguna , solaria laguna , energía solar, paneles solares, sistema fotovoltaico, energía renovable, beneficios de la energía solar, sostenibilidad, eficiencia energética, inversión en paneles solares, tecnología solar, impacto ambiental positivo, ahorro en costos de electricidad, mayor seguridad en la red, mantenimiento sencillo, energía ecológica, productos y servicios, opciones de financiamiento"
    />

    <meta name="author" content="Solaria Laguna" />

    <meta name="robots" content="index, follow" />

    <meta name="googlebot" content="index, follow" />

    <meta name="bingbot" content="index, follow" />

    <meta name="title" content="Solaria Laguna" />

    <meta property="og:title" content="Solaria Laguna" />

    <meta property="og:image" content={fond.src} />

    <meta property="og:url" content={canonicalURL} />

    <meta property="og:type" content="website" />

    <title>Solaria Laguna</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K1HJX5XH9L"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K1HJX5XH9L");
    </script>

    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          sans-serif;
      }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <slot />
  </body>
</html>
